.skills_container{
    min-height: 600px;
    margin: 0;
    background-color: black;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills_container h1{
    color: white;
    margin: 0;
    padding: 40px;
    text-align: center;
}

.skills_card_container{
    /*border: 2px solid white;*/
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.skills_card{
    min-width: 100px;
    /*border: 2px solid white;*/
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skills_card:hover h2{
    color: white;
    background-color: gray;
    border-bottom: 1px solid black;
}

.skills_card:hover img, svg{
    opacity: 0.5;
}

.skills_card img, .skills_card svg, #svg{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    transition: 0.4s;
}

.skills_card_txts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    position: static;
    /*border: 2px solid white;*/
}

.skills_card_txts h2{
    color: black;
    font-size: 10px;
    padding: 10px;
    width: 100%;
    margin: 0;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px;
}

.skills_profile{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-around;

}

.skills_profile ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.skills_profile_1{
    margin-left: 10%;
}

.skills_profile_2{
    margin-right: 10%;
}

.skills_profile li{
    color: white;
    font-size: 20px;
    padding: 10px;
    
}